#contenedorHeaderServicios{
    height: 40%;
    display: flex;
    padding: 5%;
    background-color: #F2F2F2;
    justify-content: center;
    margin-bottom: 10%;
    background-image: url("Fondos.png");    
}

#contenedorHeaderServicios p {
    padding: 10%;
    font-size: large;
}


#perroygato{
    width: 50%;
    aspect-ratio: 16/9;
    object-fit: cover;    
}

#perros{
    height: 100%;
    min-height: 300px;
    aspect-ratio: 16/9;
    object-fit: contain;
}
.contenedorPieServicios p{
    font-size: larger;
    font-weight: bold;
    padding: 10%;
    margin-top: 5%;
    text-align: center;
    background-image: url("Fondos.png");
}

h6{
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 840px){
    #contenedorHeaderServicios{
        height: 50%;
        flex-wrap: wrap;
    }
    #contenedorHeaderServicios p{
        font-size: medium;
    }
}