@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-400px * 5 - 0.5rem * 10));
	}
}

.animate-scroll {
	animation: scroll 24s linear infinite;
}

.anchoPassword div:nth-child(1) {
    width: 100%;
}

.react-datepicker-wrapper{
	width: 100%;
}

gm-style .place-card div{
	display: none!important;
}